<div class="container">
  <div class="row">
    <div class="col-1">
      <a routerLink="/signup">Create account</a>
    </div>
    <div class="col-2 offset-9">
      {{page.username}}
    </div>
  </div>
</div>

<br>
<div class="container">
  <div class="row">
    <div class="col col-5 ">
      <p>"Ab196ca" => max cipars ir "9" un index = "3"</p>
      <input type="text" id="get_string" (keyup.enter)="method.onEnterClick()">
      <div>Max number is <b>{{page.max}}</b></div>
      <div>Max number index is <b>{{page.index}}</b></div>
    </div>
  </div>
</div>