<!-- navBar -->
<nav id="navbar_b" class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a href="/home">
    <img src="assets/logo.jpg" width="30" height="30" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav pl-5">
      <a class="nav-item nav-link" href="/home">HOME</a>
      <a class="nav-item nav-link" href="/overview">OVERVIEW</a>
      <a class="nav-item nav-link" href="/booking">BOOK NOW</a>
      <a class="nav-item nav-link" href="/aboutus">ABOUT US</a>
    </div>
  </div>
</nav>
<!-- / navBar -->

<div class="bg view">
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-4 text-center">
          <h1 class=" font-weight-bold mb-0 pt-md-5 pt-5"><strong>Welcome to The Angular Hotel </strong></h1>
          <hr class="hr-light my-4">
          <h5 class="text-uppercase mb-4"><strong>sunny angular hotel</strong></h5>
          <a class="btn">Services</a>
          <a class="btn">About us</a>
        </div>
      </div>
    </div>

    <div id="button" class="container">
      <div class="container">
        <div class="row">
          <div class="col-md-12 white-text text-right">
            <button class="btn btn-dark btn-lg">Discover your dream vacation</button><br>
            <span>Book your next trip</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="nice"> <a class="btn">
      <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-arrow-down-circle" fill="white"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
        <path fill-rule="evenodd"
          d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z" />
      </svg>
    </a>
  </div>
</div>


<div class="text-center p-1 main_color"></div>
<br><br>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="">
        <img src="assets/food.jpg" style="width: 30em;"><br><br>
        <img src="assets/pool-view.jpg" style="width: 30em;">
      </div>
    </div>
    <div class="col">
      <div class="text-centre text-uppercase font-weight-bold pt-md-5 pt-5">
        Discover the touch of nature
      </div>
      <div class="pt-4 ">
        <p>
          On the doorstep of the Atlantic, The Angular Hotel is an exclusive members-only hotel where our mission is to
          provide excellent service and unforgettable experiences.
        </p>

        <p>
          With our membership program, regular patrons will have the opportunity to become members of this exclusive
          hotel too, and enjoy exceptional benefits including access to our stunning co-working space and business
          facilities, gym, sauna and steam room, pools and membership to our fabulous Sandy B Private Beach Club.
        </p>

        <p>
          We invite you to rediscover fun at The Angular Hotel.
        </p>
      </div>
      <button type="button" class="btn btn-dark">Learn more</button>
    </div>
  </div>
</div>

<div class="container p-4">
  <hr>
  <h2>Summer in sunny South Africa</h2>
  <p>
    It’s still summer in sunny South Africa, and the March/April school holidays are right around the corner – and as we
    all know, summer holidays in South Africa are a real treat!
  </p>
  <p>
    Besides having fun in the sun (and eating way too much!) summer holidays are meant to be spent with those nearest
    and dearest to you. Friends and family from far and wide.
  </p>
  <p>
    However, we believe that this special time should also be spent with the four-legged members of our family – and
    luckily, with Pet Places’ variety of pet-friendly accommodation across the Western Cape, you needn’t leave your pet
    behind this holiday – making sure you enjoy an unforgettable holiday with the whole family.
  </p>
  <p>
    So, with the holidays creeping closer, we decided to put together a list of pet-friendly holiday destinations,
    perfect for a summer holiday to remember.
  </p>
</div>

<div class="bg-dark">
  <div class="row">
    <div class="col-6">
      <p class="text-light text-right p-3">
        <a class="text-light" href="mailto:marcis.krumins@gmail.com">marcis.krumins@gmail.com</a>
      </p>
    </div>
    <div class="col">
      <i class="fa fa-twitter p-2" style="font-size:38px;color:lightgrey"></i>
      <i class="fa fa-facebook-square p-2" style="font-size:38px;color:lightgrey"></i>
      <i class="fa fa-instagram p-2" style="font-size:38px;color:lightgrey"></i>
      <i class="fa fa-linkedin-square p-2" style="font-size:38px;color:lightgrey"></i>
    </div>
  </div>