<div class="container">
  <div class="row">
    <div class="col-1">
      <a routerLink="/signup">Create account</a>
    </div>
    <div class="col-2 offset-9">
      {{page.username}}
    </div>
  </div>
</div>

<br>
<div class="container container shadow  mb-5">
  <div class="row">
    <div class="col col-6 bg-secondary text-light">
      <p>"Ab196ca" => max cipars ir "9" un index = "3  (14.UZD)"</p>
      <input type="text" id="get_string" (keyup.enter)="method.onEnterClick()">
      <div>Max number is <b>{{page.max}}</b></div>
      <div>Max number index is <b>{{page.index}}</b><br /><br /></div>
    </div>
    <div class="col">
      <p>Enter value (15.UZD)</p>
      <input type="text" id="get_string2" (keyup.enter)="method2.onEnterClick2()">
      <div>Result: <b>{{getThings.md_value | checkChar}}</b></div>
    </div>
  </div>
</div>