<!-- navBar -->
<nav id="navbar_b" class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a href="/home">
    <img src="assets/logo.jpg" width="30" height="30" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav pl-5">
      <a class="nav-item nav-link" href="/home">HOME</a>
      <a class="nav-item nav-link" href="/overview">OVERVIEW</a>
      <a class="nav-item nav-link" href="/booking">BOOK NOW</a>
      <a class="nav-item nav-link" href="/aboutus">ABOUT US</a>
    </div>
  </div>
</nav>
<!-- / navBar -->

<div class="conteiner pt-4">
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col shadow p-4">
      <form name="form" [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="full_name">Your Full Name</label>
            <input type="text" formControlName="full_name" class="form-control"
              [ngClass]="{'is-invalid': form.get('full_name').touched && form.get('full_name').invalid}" id="full_name"
              placeholder="">
            <div class="invalid-feedback">
              Please enter a full name.
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="number">Contact Number</label>
            <input type="text" formControlName="number"
              [ngClass]="{'is-invalid': form.get('number').touched && form.get('number').invalid}" class="form-control"
              id="number" placeholder="+371 ">
            <div class="invalid-feedback">
              Please enter a valid phone number.
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="email">E-mail</label>
            <input type="text" formControlName="email"
              [ngClass]="{'is-invalid': form.get('email').touched && form.get('email').invalid}" class="form-control"
              id="email" placeholder="">
            <div class="invalid-feedback">
              Please enter a email.
            </div>
          </div>
          <div class="form-group col-md-3">
            <label for="adults">Adults</label>
            <input type="number" formControlName="adults"
            [ngClass]="{'is-invalid': form.get('adults').touched && form.get('adults').invalid}" class="form-control" id="adults" >
          </div>
          <div class="form-group col-md-3">
            <label for="children">Children</label>
            <input type="number" formControlName="children"
            [ngClass]="{'is-invalid': form.get('children').touched && form.get('children').invalid}" class="form-control" id="children">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="dateIn">Check In Date</label>
            <input class="form-control" type="date" formControlName="dateIn"
            [ngClass]="{'is-invalid': form.get('dateIn').touched && form.get('dateIn').invalid}" id="dateIn">
          </div>
          <div class="form-group col-md-6">
            <label for="dateOut">Check Out Date</label>
            <input class="form-control" type="date" formControlName="dateOut"
            [ngClass]="{'is-invalid': form.get('dateOut').touched && form.get('dateOut').invalid}" id="dateOut">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="text">Comment</label>
            <input class="form-control input-lg" id="text" type="comment">
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Do you require a parking bay? (Additional cost)
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Sign in</button>
      </form>
    </div>
    <div class="col-6 ">
      <img src="assets/room_1.jpg" style="width: 40em;">
      <div class="conteiner  shadow m-4 p-4">
        The south and east facing mountapn rooms have side views of Table Mountain and expansive views of the Twelve
        Apostles mountain range. The child-friendly Mountain rooms feature a daybed for one child 3-14 years old to
        share. For children up to 3 years old, a cot can be provided in the room.
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<div class="bg-dark" style="position: absolute; bottom: 0; width: 100%;">
  <div class="row">
    <div class="col-6">
      <p class="text-light text-right p-3">
        <a class="text-light" href="mailto:marcis.krumins@gmail.com">marcis.krumins@gmail.com</a>
      </p>
    </div>
    <div class="col">
      <i class="fa fa-twitter p-2" style="font-size:38px;color:lightgrey"></i>
      <i class="fa fa-facebook-square p-2" style="font-size:38px;color:lightgrey"></i>
      <i class="fa fa-instagram p-2" style="font-size:38px;color:lightgrey"></i>
      <i class="fa fa-linkedin-square p-2" style="font-size:38px;color:lightgrey"></i>
    </div>
  </div>
</div>