<!-- navBar -->
<nav id="navbar_b" class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a href="/home">
    <img src="assets/logo.jpg" width="30" height="30" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav pl-5">
      <a class="nav-item nav-link" href="/home">HOME</a>
      <a class="nav-item nav-link" href="/overview">OVERVIEW</a>
      <a class="nav-item nav-link" href="/booking">BOOK NOW</a>
      <a class="nav-item nav-link" href="/aboutus">ABOUT US</a>
    </div>
  </div>
</nav>
<!-- / navBar -->

<div class="container">
  <h6 class="text-uppercase  pt-4">
    ROOMS & SUITES
  </h6>
  <h2>From bedside to seaside.
    Your perfect escape.</h2>
  <p>
    The Angular Hotel boasts rooms and suites that are specifically designed to let the hotel’s iconic beachfront
    location
    take centre stage.
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <a href="/booking">
        <img class="stl" src="/assets/rooms/r1.jpg">
        <div class="available pos h6 text-light ">
          Free
        </div>
      </a>
    </div>
    <div class="col">
      <a href="/booking">
        <img class="stl" src="/assets/rooms/r2.jpg">
        <div class="available pos h6 text-light">
          Free
        </div>
      </a>
    </div>
    <div class="col">
      <img class="stl overlay" src="/assets/rooms/r3.jpg">
      <div class="notavailable pos h6 text-light">
        Not available
      </div>
    </div>
    <div class="col">
      <a href="/booking">
        <img class="stl" src="/assets/rooms/r4.jpg">
        <div class="available pos h6 text-light">
          Free
        </div>
      </a>
    </div>
    <div class="col">
      <a href="/booking">
        <img class="stl" src="/assets/rooms/r5.jpg">
        <div class="available pos h6 text-light">
          Free
        </div>
      </a>
    </div>
    <div class="col">
      <a href="/booking">
        <img class="stl" src="/assets/rooms/r6.jpg">
        <div class="free pos h6 text-light">
          Reserved
        </div>
      </a>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <p>
    The room was a good size and we had a balcony looking over the mountain and the bowling green. There was plenty of wardrobe space and a well stocked bathroom. The shower was great!
  </p>
</div>

<!-- Footer -->
<div class="bg-dark">
  <div class="row">
    <div class="col-6">
      <p class="text-light text-right p-3">
        <a class="text-light" href="mailto:marcis.krumins@gmail.com">marcis.krumins@gmail.com</a>
      </p>
    </div>
    <div class="col">
      <i class="fa fa-twitter p-2" style="font-size:38px;color:lightgrey"></i>
      <i class="fa fa-facebook-square p-2" style="font-size:38px;color:lightgrey"></i>
      <i class="fa fa-instagram p-2" style="font-size:38px;color:lightgrey"></i>
      <i class="fa fa-linkedin-square p-2" style="font-size:38px;color:lightgrey"></i>
    </div>
  </div>
</div>