<div class="container">
  <div class="row">
    <div class="col-2">
      <a routerLink="/signup">Create account</a>
    </div>
    <div class="col offset-8">
      User: <b>{{page.username | titlecase}}</b> | <a routerLink="/login" >Logout</a>
    </div>
  </div>
</div>

<br>
<div class="container shadow">
  <div class="row">
    <div class="col col-6 bg-secondary text-light">
      <p>"Ab196ca" => max cipars ir "9" un index = "3  (14.UZD)"</p>
      <input type="text" id="get_string" (keyup.enter)="method.onEnterClick()">
      <div>Max number is <b>{{page.max}}</b></div>
      <div>Max number index is <b>{{page.index}}</b><br /><br /></div>
    </div>
    <div class="col">
      <p>Enter value (15.UZD)</p>
      <input type="text" id="get_string2" (keyup.enter)="method2.onEnterClick2()">
      <div>Result: <b>{{getThings.md_value | checkChar}}</b></div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col">
      <div> <a routerLink="/temp">Temporary page</a></div>
      <div> <a routerLink="/errorpage">Error page</a></div>
      <div> <a routerLink="/signup">Sign up page</a></div>
    </div>
  </div>
</div>
