<div class="container p-4">
  <div class="row">
    <div class="col">
      <div><a routerLink="/home">Back</a></div>
    </div>
  </div>
</div>

<div class="container shadow p-3">
  <div class="row">
    <div class="col-6 ">
      <form >
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Username</label>
            <input type="text"  [ngClass]="formClass" placeholder="Username" id="usernameID">
            <div id="validationServer01Feedback" class="invalid-feedback" *ngIf="vald">
              Please enter valid username
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" id="PasswordID" placeholder="Password" name="password" ngModel pattern="^[a-zA-Z0-9 -]*$">
            <div id="validationServer01Feedback" class="invalid-feedback" >
              Please enter valid password
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail4">Email</label>
          <input type="email" class="form-control" id="EmailID" placeholder="Email">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Phone</label>
            <input type="text" class="form-control" id="PhoneID" placeholder="+371 200000" name="Phone">
          </div>
          <div class="form-group col-md-6">
            <label>Date</label>
            <input type="text" class="form-control" id="DateID" placeholder="01/01/2001">
          </div>
        </div>
        <button (click)="checkForm()" type="submit" class="btn btn-primary">Sign up</button>
      </form>
    </div>
    <div class="col-6 p-4">
      <svg width="10em" height="10em" viewBox="0 0 16 16" class="bi bi-signpost-split" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M7 16h2V6H8V2h1v-.586a1 1 0 0 0-2 0V7h1v4H7v5z" />
        <path fill-rule="evenodd"
          d="M14 3H8v2h6l.75-1L14 3zM8 2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h6a1 1 0 0 0 .8-.4l.975-1.3a.5.5 0 0 0 0-.6L14.8 2.4A1 1 0 0 0 14 2H8zM2 8h6v2H2l-.75-1L2 8zm6-1a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-.8-.4L.225 9.3a.5.5 0 0 1 0-.6L1.2 7.4A1 1 0 0 1 2 7h6z" />
      </svg>
      <span class="h3">Sign Up!</span>
    </div>
  </div>
</div>