<div class="container" id="main_cont">
  <div class="row">
    <div class="col col-5 text-center bg-dark justify-content-center">
      <img id="logo_img" src="assets/logo.jpg">
      <p class="text-light">Welcome to Angular development</p>
    </div>
    <div class="col">
      <p class="text-right"><a class="text-primary " href="signup">Create Account</a></p>
      <div class="container">
        <div class="row">
          <div class="col col-1"></div>
          <div class="col">
            <!-- <form> -->
              <div class="form-group">
                <p class="h3">User Login</p>
                <p class="text-secondary">Enter your login details below</p>
                <br>
                <label for="exampleInputEmail1">Login ID</label>
                <input placeholder="Enter Username" class="form-control" id="loginId">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input (keyup.enter)="methods.onLoginClick()" placeholder="Enter Password" type="password" class="form-control" id="exampleInputPassword1" id="passwordId">
              </div>
              <button (click)="methods.onLoginClick()" type="submit" class="btn btn-primary">Login</button>
              <br><br>
              <!-- ngIf - A structural directive that conditionally includes a template based on the value of an expression coerced to Boolean. When the expression evaluates to true, Angular renders the template provided in a then clause, and when false or null, Angular renders the template provided in an optional else clause -->
              <div class="row" *ngIf="page.showError">
                <div class="col-sm-12 redColor"> 
                    {{page.errorMessage}}
                </div>
            </div>  
            <!-- </form> -->
          </div>
          <div class="col col-1"></div>
        </div>
      </div>
    </div>
  </div>
</div>